$white : #fff;
$darkGrey : #555;

$primaryColor : #9A00FF;
$backgroundColor : #eee;
$text-color : #0F194A;
$text-color-light : rgb(65, 72, 104);

$box-shadow : rgba(0, 0, 0, 0.164);
$backgroundBlur : rgba(255, 255, 255, 0.2)