//font-family: 'Righteous', cursive;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('../Assets/fonts/BAHNSCHRIFT\ 1.woff') format('woff');
    }