@mixin flexer-horizontal-spacebetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexer-horizontal-spaceevenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@mixin flexer-vertical-spacebetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@mixin flexer-vertical-spaceevenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flexer-vertical-totalCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexer-horizontal-totalCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}