.itemCard{
    &-area{
        position: relative;
        width: 36rem;
        height: 36rem;
    }
    &-wrapper{
        background-color: $white;
        width: 90%;
        height: 94%;
        position: absolute;
        bottom: 0;
        box-shadow: 0px 3px 6px $box-shadow;

       
    }

    &-image{
        height: 70%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-info{
        height: 30%;
        padding: 1.5rem;
        &>*{
           &:not(:first-child){
            margin-top: 1rem;
           }
        }
        &-title{
            font-size: 2.1rem;
            color: $text-color;
            font-family: 'Bahnschrift Regular';
            font-weight: 500;
        }
        &-quantity{
            font-size: 1.5rem;
            color: $text-color;
            font-family: 'Bahnschrift Regular';
            font-weight: 100;
        }

        &-price{
            font-size: 1.5rem;
            color: $primaryColor;
            font-family: 'Bahnschrift Regular';
            font-weight: bolder;
        }
    }

    &-action{
        width: 8rem;
        height: 5rem;
        background-color: $white;
        position: absolute;
        top: 1rem;
        right: 0rem;
        box-shadow: 0 3px 6px $box-shadow;
        transform: rotate(45deg);
        border-radius: 60px;
        padding : 0.5rem;

        &>div{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 1.5rem;
        }
        &-edit{
            background-color: $text-color;
            width: 50%;
            height: 100%;
            border-radius: 60px 0 0 60px;
            cursor: pointer;
            float: left;
        }

        &-remove{
            background-color: red;
            width: 50%;
            height: 100%;
            border-radius:0 60px 60px 0;
            cursor: pointer;
            float: left;
        }
    }
}