.products{
    &-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,35rem);
        grid-row-gap: 4rem;
        grid-column-gap:4rem ;
        justify-content: center;
    }

    &-loadmore{
        margin-top: 3rem;
        @include flexer-horizontal-totalCenter();
    }
}