@mixin Box {
  width: 98%;
  margin: 2rem auto;
  box-shadow: 0 3px 6px $box-shadow;
}

.overlay {
  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $backgroundBlur;
    z-index: 1000;
    @include flexer-horizontal-totalCenter();
  }

  &-body {
    width: 70%;
    height: 85%;
    background-color: $white;
    border-radius: 40px;
    border: 5px solid $primaryColor;
    position: relative;
  }

  &-close {
    font-size: 3rem;
    border: 1px solid;
    display: inline-block;
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: $text-color;
    width: 4rem;
    height: 4rem;
    color: $white;
    text-align: center;
    border-radius: 10px;
    font-family: "Righteous", cursive;
    cursor: pointer;
  }

  &-content {
    position: relative;
    width: 70%;
    height: 95%;
    margin: 1.5% auto;
    overflow: scroll;
  }

  &-horizontalBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-verticalBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-form {
    &-title {
      text-align: center;
      font-size: 2.8rem;
      font-family: "Righteous", cursive;
      color: $text-color;
      margin-bottom: 2rem;
    }
    height: 100%;

    &-left {
      width: 60%;
      height: 100%;
      overflow: scroll;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-right {
      width: 40%;
      height: 100%;
      overflow: scroll;
      float: right;
      padding: 0 1rem;
    }

    &-card {
      padding: 1rem;
      color: $text-color;
      font-size: 1.8rem;
      font-family:  sans-serif;
      &-top {
        @include Box();
      }
      &-bottom {
        @include Box();
        height:75%;
      }

      &-left{
          width: 30%;
          float: left;
          height: 95%;
          overflow: scroll;

      }

      &-right{
        width: 70%;
        float: right;
        height: 95%;
        overflow: scroll;

    }

      &-title {
        color: $text-color;
        font-size: 2rem;
        font-family: "Bahnschrift Regular";
        font-weight: bold;
        margin-bottom: 2rem;
      }

      &-body{
          padding-left: 2rem;
          height: 100%;

          &::after{
              display: table;
              content: "";
              clear: both;

          }
      }

      &-address{
          text-align: center;
          max-width: 25rem;
      }
    }
  }
}
