

.categorySubBody{
    &-item-wrapper{
        background-color: $white;
        width: 100%;
        height: 15rem;
        font-size: 2rem;
        font-family: 'Bahnschrift Regular';
        color: $text-color-light;
        font-weight: 100;
       text-align: center;
       @include flexer-horizontal-spacebetween();
        overflow: hidden;
        margin-bottom: 5rem;
       &>div>*{
           max-width: 100%;
           
       }
    }
}